.main{
    background-image: url(http://www.pptbackgrounds.org/uploads/blue-squares-powerpoint-backgrounds.jpg);
    background-size:cover;
    height: 530px;
    padding-top: 10px;
    color: black;
    width: 100%;
}
.header{
    color: white;
    font-weight: bold;
}
.formtag{
    padding-left: 30px;
    padding-right: 30px;
}
