<div class=" main">
  <h1 class="text-center header">Add Book</h1>
  <form #book="ngForm" (ngSubmit)="createBook(book.value)">
    <div class="formtag">

      <div class="form-group">
        <label>Slno:</label>
        <input type="text" #slno="ngModel" [class.is-invalid]="slno.invalid && 
        slno.touched" required
          placeholder="slno" class="form-control" name="slno" ngModel>
        <small class="text-danger" [class.d-none]="slno.valid || slno.untouched">
          *Slno Number is Required and it should be 5 letter </small>
      </div>

      <div class="form-group">
        <label>Book Name:</label>
        <input #bookname="ngModel" [class.is-invalid]="bookname.invalid && 
      bookname.touched" required
          placeholder="bookName" name="bookName" class="form-control" ngModel>
        <small class="text-danger" [class.d-none]="bookname.valid || bookname.untouched">
          *Book Name is Required </small>
      </div>

      <div class="form-group">
        <label>Author Name:</label>
        <input #name="ngModel" [class.is-invalid]="name.invalid && 
      name.touched" required placeholder="authorName"
          name="authorName" class="form-control" ngModel>
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">
          *Author Name is Required </small>
      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea rows="4" #desc="ngModel" [class.is-invalid]="desc.invalid && 
      desc.touched" required ngModel
          placeholder="description" name="description" class="form-control">
      <small class="text-danger" [class.d-none]="desc.valid || desc.untouched">
        *Description is Required </small>
      </textarea>
      </div>

      <button class="btn btn-success" [disabled]="book.form.invalid">Create</button>
    </div>
  </form>
</div>