.main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIjVw_OC--c8fjCF7KEbCaRCZtTHuKvf1aLRdiipUzoInmsC33Kw);
    background-size:cover;
    background-repeat: no-repeat;
    height: 530px;
    color: white;
    padding-top: 10px;
}

.subdiv{
    display: flex;
    flex-direction:row;
}
.subhead{
    padding-left: 5%;
}
.heading{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttonn{
  background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
}
.editt{
    font-size:24px;
}   
  button:hover {
    background-color: #71f576;
    
  }
  