.main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIjVw_OC--c8fjCF7KEbCaRCZtTHuKvf1aLRdiipUzoInmsC33Kw);
    background-size:cover;
    background-repeat: no-repeat;
    height: 530px;
    color: white;
    width:100%;
    padding-top: 10px;
}
.header{
    color:white;
    font-weight: bold;
}
.formtag{
    padding-left: 30px;
    padding-right: 30px;
}