<div class=" main">
  <h2 class="text-center header">Update employee dtls</h2>
  <form #employeeDetails="ngForm" (ngSubmit)="saveChanges(employeeDetails.value)" *ngIf="task">
    <div class="formtag">

      <div class="form-group">
        <label>Slno:</label>
        <input type="text" #slno="ngModel" [class.is-invalid]="slno.invalid && slno.touched" required placeholder="slno"
          class="form-control" name="slno" [(ngModel)]="task.slno">
        <small class="text-danger" [class.d-none]="slno.valid || slno.untouched">
          *Slno Number is Required </small>
      </div>

      <div class="form-group">
        <label>Book Name:</label>
        <input #bookname="ngModel" [class.is-invalid]="bookname.invalid && bookname.touched" required placeholder="bookName"
          name="bookName" class="form-control" [(ngModel)]="task.bookName">
        <small class="text-danger" [class.d-none]="bookname.valid || bookname.untouched">
          *Book Name is Required </small>
      </div>

      <div class="form-group">
        <label>Author Name:</label>
        <input #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required placeholder="authorName" name="authorName"
          class="form-control" [(ngModel)]="task.authorName">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">
          *Author Name is Required </small>
      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea rows="4" #desc="ngModel" [class.is-invalid]="desc.invalid && desc.touched" required [(ngModel)]="task.description"
          placeholder="description" name="description" class="form-control">
    <small class="text-danger" [class.d-none]="desc.valid || desc.untouched">*Description is Required </small>
    </textarea>
      </div>

      <button class="btn btn-success" [disabled]="employeeDetails.form.invalid">Create</button>

    </div>
  </form>
</div>