.main{
    background-image: url(https://ak4.picdn.net/shutterstock/videos/12689684/thumb/1.jpg);
    background-size:cover;
    height: 530px;
    padding-top: 10px;
    color: black;
    width: 100%;
}
.submain{
    padding-left:8%;
    font-size: 20px;
}
.heading{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}