<div class="main" *ngIf="oneBook">

  <div class="submain">
    <div>
      <h1 class="heading">Book Details</h1>
    </div>
    <div>1) ID: {{oneBook.id}}</div>
    <div>2) slno: {{oneBook.slno}}</div>
    <div>3) bookName: {{oneBook.bookName}}</div>
    <div>4) authorName: {{oneBook.authorName}}</div>
    <div>5) description: {{oneBook.description}}</div>
  </div>
</div>